/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --main-color: blue;
}

.dark-mode {
    --primary-color: black;
    --secondary-color: white;
}
body {
    background: var(--primary-color);
    color: var(--secondary-color);
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600; /* dieu chinh do lon cua phong chu --> */
    cursor: default;
    margin-right: auto;
}

.navbar a{
    position: relative;
    font-size: 18px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px; /* cach deu cac phan tu trong thanh navbar */
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
}
.toggle {
    display: flex;
    /* background: red; tô viền ngoài cho icon */
    margin-top: 1px;
    cursor: pointer;
}
.toggle .toggle-icon {
    font-size: 24px;
    color: gray;

}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 7% 0;
}

.home .home-content {
    max-width: 540px; /* độ rộng tối đa của khung */
}

.home-content h3{
    font-size: 32px;
    line-height: .3;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 3px;
}
.home-content p {
    font-size: 16px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);  
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color); 
    text-decoration: none;
    margin: 25px 15px 30px 0;
    transition: 1s ease; 
}

.social-media a:hover {
    background: var(--main-color);
    color: white;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0 , 0 , 0 , .2);
    border: 2px solid transparent;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 1s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 750px;
    height: 610px;
    overflow: hidden;
}
.profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: yellowgreen; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profession-box .profession {
    position: absolute;
    left: 0;
    transform-origin: 384px;
    transform: rotate(calc(360deg / 3 * var(--i)));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    background: var(--primary-color);
    padding: 13px 0;
}
/* dòng 108: độ trễ của animation 
     dòng 103: thay đổi viền ngoài logo thành hình tròn --> 
*/ 
.profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.profession-box .profession:nth-child(2) i {
    padding-bottom: 20px;
}

.profession i {
    font-size: 38px;
}

.profession h3 {
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
}

.profession-box .circle {
    width: 72%;
    height: 72%;
    background: transparent;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 325px solid var(--main-color);
    border-right: 325px solid var(--main-color);
    border-bottom: 325px solid var(--main-color);
    border-left: 325px solid transparent;
}

.home-img img {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 30%;
    pointer-events: none;
    align-items: center;
} 
/*@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}*/
.player {
    align: center;
    aspect-ratio: 16/9;
    width: 100%;
}
